.carrusel {
    margin: 10px 0;
    padding: 20px;
    width: 50%;
    position: relative;
    left: 25%;
    border-radius: 10px;
}

.video {
    margin: 10px 0;
    padding: 20px;
    width: 50%;
    position: relative;
    left: 25%;
    border-radius: 10px;
}

.contenedor {
    width: 100%;
}

