h2 {
    font-size: 25px;
    margin: 40px 0px;
    padding: 20px;
    width: 70%;
    position:relative ;
    left: 8%;
    border-radius: 10px;
}

.informacion {
    margin: 15px;
    padding: 15px;
    width: 70%;

    h3{
        margin: 50px;
        margin: 40px 0;
        padding: 5px;
        width: 70%;
        position: relative;
        left: 10%;
        border-radius: 10px;
        font-size: 20px;
    }

.parrafo1 {
    background-color: #ffffffb7;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 0;
    padding: 20px;
    width: 100%;
    position: relative;
    left: 10%;
    border-radius: 10px;

}

.parrafo2 {
    background-color: #ffffffb7;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 0;
    padding: 20px;
    width: 100%;
    position: relative;
    left: 10%;
    border-radius: 10px;
}

}

.image {
    margin: 50px;
    margin: 10px 0;
    padding: 20px;
    width: 100%;
    position: relative;
    left: 10%;
    border-radius: 10px;
    
}